html, body {
  height: 100%;
  width: 100%;
}

body {
  font: 12px Lato;
  background-color: black;
  background: url("nightsky.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip #tip-pic {
  display: inline-block;
  margin: 0 auto;
  opacity: 0.75;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.gaps {
  height: 50px;
  width: 100vw;
  position: fixed;
  margin-left: 20px;
  bottom: 0;
  opacity: 0.5;
  background-image: linear-gradient(to top, rgba(255,255,255, 1), rgba(255,255,255, 0) 90%);
}

.gaps .gradient-block {
  display: inline-block;
  height: 100%;  
}

.gaps:hover {
  opacity: 0.8;
}